<p id="notice"><%= notice %></p>

<ul id="tickets">
	<% @project.tickets.each do |ticket| %>
		<li>
			<%= link_to ticket.title, project_ticket_path(@project, ticket) %> (#<%= ticket.id %>)<br>
			<%= link_to "Edit", edit_project_ticket_path(@project, ticket) %> |
			<%= link_to "Delete", project_ticket_path(@project, ticket), method: :delete, data: { confirm: "Are you sure?" } %>
		</li>
	<% end %>
</ul>

<%= link_to "New Ticket", new_project_ticket_path(@project) %>